API_URL=https://api.github.com/repos/puppeteer/puppeteer
API_METHOD=GET
PUPPETEER_HEADLESS=true                                             # true|false
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome

# Gold ETF : https://trendlyne.com/equity/api/get-etfs-tabledata-v2/byslug/gold/?perPageCount=100&groupType=all&groupName=all

# Silver ETF : https://trendlyne.com/equity/api/get-etfs-tabledata-v2/byslug/silver/?perPageCount=100&groupType=all&groupName=all